<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Repository of my app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card >
    <img
    src="https://res.cloudinary.com/dkhh1qdbr/image/upload/c_thumb,g_face,h_200,w_200/r_max/f_auto/nei0lcfmamljvsvveluk"
    alt="foto-perfil" class="profile-image">
    <ion-card-header>
      <ion-card-title>Rios APK</ion-card-title>
      <ion-card-subtitle>Es una apk creada para evaluar los conocimientos del estudiante</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Aquí se encuentra el repositorio de la apk Rios APK, la cual fue creada para evaluar los conocimientos del estudiante.
    </ion-card-content>
    <ion-button href="https://github.com/AlanRiosMendoza/rios-apk"><ion-icon name="logo-github"></ion-icon>GITHUB</ion-button>
  </ion-card>
</ion-content>